<p>Search for a Subject</p>
<form action="/subjects/search" method=post>
  <p>Enter First and Last Name:<input type="text" name="name" id="name"></p>
  <input type="submit" value="search" id="search">
</form>