  
<h2>Find Corroborators</h2>
  <% @user.claims.each do |users_claim| %>
    <p>Corroborator contact for <a href="/subjects/<%=users_claim.subject.slug%>"><%= users_claim.subject.name %></a></p>
    <% users_claim.subject.claims.each do |subjects_claim| %>
       <% if subjects_claim.user != @user %>
         <ul>
           <li><%= subjects_claim.contact %></li>
         </ul>
        <% end %>
    <%  end %>
  <% end %>
  
<br>
<p><a href="/claims/new_claim">Make a new claim</a></p>
<p><a href="/claims">View all past claims</a></p>
<p><a href="/subjects/search">Search subjects by name</a></p>
<p><a href="/user/find_corroborators">Find Corroborators</a></p>
<p><a href="/user/logout">Log out</a></p>