<h3>Welcome, <%=@user.username%>!</h3>


<p><a href="/claims/new_claim">Make a new claim</a></p>
<p><a href="/claims/<%=@user.id%>/claims">View all past claims</a></p>
<p><a href="/subjects/search">Search subjects by name</a></p>
<p><a href="/user/logout">Log out</a></p>
