<html>

    <head>
      <title>Corroborate</title>
      <style>
      body {
          background-color: #B0E0E6;
      }
      
      h1 {
          color: #9370DB;
          margin-left: 80px;
          font-family: courier;
      } 
      </style>
  </head>

  <body>

      <header class="header">
        <h1>Corroborate</h1>
      </header>
      
      <%= yield %> 
      
  </body>
</html>
