<h3>Terms and Conditions</h3>

<p>CORROBORATE ASSUMES NO RESPONSIBILITY OR LIABILITY ARISING FROM THE CONTENT OF ANY POSTED CLAIMS INCLUDING BUT NOT LIMITED TO CLAIMS THAT CONTAIN ERRORS, INACCURACIES, OFFENSIVE OR HARMFUL STATEMENTS, DEFAMATORY OR LIBELOUS CONTENT, OMISSIONS, FALSEHOODS, OBSCENITY, OR PORNOGRAPHY.</p>

<p>Corroborate does not endorse or support any opinions expressed in user claims, nor does it represent or guarantee the truthfulness or accuracy of any information posted. CORROBORATE DISCLAIMS ALL LIABILITY WITH REGARD TO POSTINGS OR OTHER COMMUNICATIONS NOT CREATED BY CORROBORATE.</p>

<h4>1. Community Rules</h4>
<p>You are responsible for your own Postings and other communications, including any consequences that may result from the communication. You may only post claims that are legal, proper, and related to the particular subject. In addition, you must abide by the following Community Rules. While using this Site, you are strictly prohibited from:</p>
<ol>
  <li>Impersonating another person or entity, or posting, publishing, uploading, or in any way distributing, transmitting, or disseminating (collectively, "Disseminating") any message under a false name;</li>
  <li>Defaming, harassing, threatening, stalking, abusing, or otherwise violating the legal rights (such as the rights of privacy and publicity) of others;</li>
  <li>Disseminating any obscene, pornographic, profane, or otherwise objectionable information, or unlawful information;</li>
  <li>Disseminating any material that infringes any patent, copyright, trademark, or trade secrets ("Intellectual Property") unless you are, or have the permission of the owner of the Intellectual Property to post or transmit such material;</li>
  <li>Disseminating any corrupted files, files that contain viruses or other destructive features, or any other software or programs that may corrupt, modify or damage another party's computer;</li>
  <li>Engaging in any commercial activities, including advertising or offering to sell any goods or services, unless in a Community intended for commercial activity;</li>
  <li>Disseminating chain letters, pyramid schemes, surveys, contests, charity requests, or petitions for signatures;</li>
  <li>Disseminating Spam* (see definition below) or otherwise interfering with, restricting, or inhibiting other users of this Site;</li>
    <ul>
      <li>*Corroborate defines "Spam" as the sending of a message, individually or en masse, to anyone not requesting it, or would not otherwise choose to receive it, regardless of whether sent by a business, individual, or nonprofit organization.</li>
    </ul>
</ol>
<p>Disseminating any other communications or material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability or otherwise violate any law. Corroborate will fully cooperate with law enforcement authorities and legal process requesting Corroborate to disclose the identity of anyone who has violated one or more of these Community Rules.</p>
<h4>1.2 Termination of account.</h4>
<p>Corroborate may, in its sole discretion, terminate your account(s) if it believes you have violated any of the Community Rules, the Copyright Infringement Policy set forth below, or any other provision in this Agreement.</p>

<h4>1.3 No obligation to monitor</h4>
<p>Corroborate has no obligation to monitor or control the Communities, except to respond to customer service inquiries. However, Corroborate reserves the right to take such action as it deems appropriate or necessary to comply with any applicable law or regulation, or this Agreement, including but not limited to editing, refusing to post, or removing any claim or other material, in whole in part, for any reason, in our sole discretion.</p>

<h4>2. Accuracy of information</h4>
<p>Information provided on this Site, including information concerning any products or their use, is deemed reliable, but is not guaranteed to be accurate. All listings and information are subject to change without prior notice.</p>
